<div id="social">
<ul class="social">
	<li>
		<%= link_to "LinkedIn", "http://linkedin.com/pub/sara-robinson/24/779/403/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "Twitter", "https://twitter.com/SRobTweets", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "Instagram", "http://instagram.com/sararob", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "Github", "https://github.com/sararob", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "Facebook", "https://www.facebook.com/sara.robinson.35", :target => "_blank" %>
	</li>
</ul>
</div>