<%= render 'navbar' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="projects">
				<li>
					<button id="api">hapily</button>
				</li>
                <li>
                  <button id="event">Sandbox Event</button>
                </li>
                <li>
                  <button id="fam">FamGram</button>
                </li>
                <li>
                  <button id="med">Medicare Data</button>
                </li>
				<li>
					<button id="ht">HackerTweets</button>
				</li>
				<li>
					<button id="td">To Do</button>
				</li>
				<li>
					<button id="code">Codecation</button>
				</li>
			</ul>
    </div>
    <div class="span9">
      <div id="famgram" class="content">
        <h3>
          <%= link_to "FamGram", "http://famgram.co/", :target => "_blank" %>
          |
          <%= link_to "Source Code", "https://github.com/sararob/famgram", :target => "_blank" %>
        </h3>
        <br>
        <br>
        <p>
           This landing page was used to test demand for a business concept created by Sandbox. The idea was to gather a family's social media photos and updates on a printed card to send to older family members every other week.
        </p>
      </div>
      <div id="boxiversary" class="content">
        <h3>
          <%= link_to "Sandbox Anniversary Event", "http://boxiversary.herokuapp.com/", :target => "_blank" %>
          |
          <%= link_to "Source Code", "https://github.com/sararob/sbx-splash-page", :target => "_blank" %>
        </h3>
        <br>
        <br>
        <p>
          Built an RSVP page for an upcoming<a href="http://sandboxindustries.com"> Sandbox Industries </a>anniversary event for investors and VIPs. Uses the <a href="http://apidocs.mailchimp.com/">Mailchimp API</a> to collect sign-ups.
        </p>
      </div>
      <div id="medicare" class="content">
        <h3>
          <%= link_to "Medicare Data", "http://medicare-data.herokuapp.com/app/index.html#/procedures", :target => "_blank" %>
          |
          <%= link_to "Source Code", "https://github.com/sararob/medicare-data", :target => "_blank" %>
        </h3>
        <br>
        <br>
        <p>
          I'm building this site to learn <a href="http://angularjs.org/">AngularJS</a>. Using data from the <a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html" target="_blank">CMS</a>, this site provides information on the national average cost of the top 100 most frequently billed hospital discharges, and the amount covered by Medicare. It's a work in progress.
        </p>
      </div>
      <div id="hackertweets" class="content">
				<h3>
					<%= link_to "HackerTweets", "http://hackertweets.herokuapp.com/", :target => "_blank" %>
					|
					<%= link_to "Source Code", "https://github.com/sararob/hackertweets", :target => "_blank" %>
				</h3>
				<br>
				<br>
				<p>
					Uses the 
					<%= link_to "Twitter API", "https://dev.twitter.com/docs/api/1.1", :target => "_blank" %>
					to pull the latest tweets mentioning different programming languages. 
				</p>
			</div>
			<div id="hapily" class="content">
				<h3 class="tlt" data-in-effect="rollIn">
					<%= link_to "hapily", "http://hapily.herokuapp.com/", :target => "_blank" %>
					|
					<%= link_to "Source Code", "https://github.com/sararob/hapily", :target => "_blank" %>
				</h3>
				<br>
				<br>
				<p>
					A directory of
					<%= link_to "APIs", "http://en.wikipedia.org/wiki/Application_programming_interface", :target => "_blank" %> 
					where users can create an account, vote for their favorite API, view their votes on their profile page, and see all user's profiles. 
				</p>
              <div data-repo="sararob/hapily" class="github-box-wrap"></div>
			</div>
			<div id="todo" class="content">
				<h3>
					<%= link_to "To Do", "http://sarastodo.herokuapp.com/", :target => "_blank" %>
					|
					<%= link_to "Source Code", "https://github.com/sararob/to_do", :target => "_blank" %>
				</h3>
				<br>
				<br>
				<p>
					A simple to do list application.
				</p>
			</div>
			<div id="codecation" class="content">
				<h3>
					<%= link_to "Codecation", "http://codecation.herokuapp.com/", :target => "_blank" %>
					|
					<%= link_to "Source Code", "https://github.com/sararob/codecation", :target => "_blank" %>
				</h3>
				<br>
				<br>
				<p>
					A discussion forum for programming resources. My first Rails application!
				</p>
			</div>
    </div>
  </div>
</div>
<%= render 'social' %>
<script>
$(document).ready(function() {
  $('button#ht').click(function(){
	     $('div#hackertweets').show();
			 $('div#hapily').hide();
			 $('div#todo').hide();
			 $('div#codecation').hide();
             $('div#medicare').hide()
	   });
		$('button#api').click(function(){
		    $('div#hapily').show();
			$('div#hackertweets').hide();
		    $('div#todo').hide();
			$('div#codecation').hide();
            $('div#medicare').hide()
		   });
	  $('button#td').click(function() {
				$('div#todo').show();
				$('div#hapily').hide();
				$('div#hackertweets').hide();
				$('div#codecation').hide();
                $('div#medicare').hide()
		});
		$('button#code').click(function() {
				$('div#codecation').show();
				$('div#hapily').hide();
				$('div#hackertweets').hide();
				$('div#todo').hide();
                $('div#medicare').hide()
		});
    $('button#med').click(function() {
        $('div#medicare').show()
        $('div#codecation').hide();
        $('div#hapily').hide();
        $('div#hackertweets').hide();
        $('div#todo').hide();
    });
	});

</script>